* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(105, 11, 11);
}

.div-app {
  text-align: center;
  min-height: 100vh;
}

/* .name-title {
  font-size: 3rem;
  font-weight: 600;
  color: beige;
  margin-top: 1rem;
}

.date-title {
  font-size: 2rem;
  color: beige;
} */

@media screen and (orientation: portrait) {
  .div-app {
    opacity: 0;
    visibility: hidden;
  }
  body {
    background-image: url("https://cdn131.picsart.com/6787ed88-ed56-44b9-ac4a-83603ce52f04/407300785025201.jpg?to=crop&type=webp&r=540x960&q=85");
    background-repeat: no-repeat;
    background-size: 122vw 122vh;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 970px) {
  body {
    font-size: 1rem;
  }
}
