.playoffs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem 0;
}

.subtitle {
  font-size: 2rem;
  padding: 4.5rem 0 2.5rem;
  color: beige;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.205);
}

@media screen and (max-width: 970px) {
  .playoffs h2 {
    font-size: 0.7rem;
  }

  .subtitle {
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 0.5rem;
  }
}
